body{
  background-color: black;
}
.tic-box{
  width: 120px;
  height: 120px;
  display: inline-block;
  background-color: black;
  margin-top: 0.05px;

}
.tic-container{
  display: table;
  margin: auto;
  margin-top: 10vh;
  background-color: white;
  padding:6px;
  padding-bottom: 0px;
  box-shadow: 0px 0px 8px #fff;
}
.x{
  background-color: #ff1919;
  box-shadow: 0px 0px 8px #ff1919;
}
.o{
  background-color: #1919ff;
  box-shadow: 0px 0px 8px #1919ff;
}
.ai-text{
  margin-top: 10vh;
  color: #ff1919;
  text-shadow: 0 2px 9px #ff1919;
}
